{
   "extends": "airbnb-base",
   "parserOptions": {
      "ecmaVersion": "latest"
   },
   "rules": {
      "no-underscore-dangle": [
         "error",
         {
            "allow": [
               "_id"
            ]
         }
      ],
      "no-console": "off",
      "linebreak-style": 0,
      "quotes": "off",
      "no-multiple-empty-lines": [
         "error",
         {
            "max": 2,
            "maxEOF": 0
         }
      ],
      "no-else-return": "off",
      "arrow-body-style": [
         "error",
         "as-needed"
      ],
      "no-unused-vars": "off",
      "consistent-return": "off"
   }
}